/* App.css */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header {
  background: #32cd32; /* More vibrant green */
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.chat-container,
.content {
  flex: 1;
  width: 100%; /* Set both chat and CV content to occupy full width */
  max-width: 2000px;
  height: 90vh; /* Make the content occupy 90% of the viewport height */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
}

.assistant-message {
  text-align: left;
  background-color: #f3f3f3;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 70%;
  align-self: flex-start;
}

.user-message {
  text-align: right;
  background-color: #e0ffe0;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 70%;
  align-self: flex-end;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
}

.nav-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #45a049;
}

.uploaded-image {
  max-width: 100%;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.analyze-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #32cd32; /* More vibrant green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.analyze-button:hover {
  background-color: #2eb82e;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}


